<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div style=" height: 70vh; margin-top: 100px">
                <div class="body-dat-ve">
                    <span style="font-size: 46px; color: green;" class="custom-font">Thanh Toán thành công </span>
                </div>
                <div class="body-dat-ve"><img [src]="anhThanhCong" alt=""></div>
                <div class="body-dat-ve">
                    <a href="http://localhost:4200/home/user" class="custom-font confirm-button">Xem lịch sử thanh toán</a>
                </div>
                <div class="body-dat-ve">
                    <span style="font-size: 20px; color: grey;" class="custom-font">Hãy cùng đồng hành cùng chúng tôi trên chặng đường mang những bộ phim hay vầ hấp dẫn nhất đến với khán giả!</span>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>