<h2>Tìm kiếm bài viết theo chủ đề</h2>
          <div class="row">
            <div class="col-md-4 mb-3"  *ngFor="let item of post">
              <div class="card">
                <img style="width: 255px; height: 144px;" [src]="item.anhPhim" class="card-img-top" alt="..." routerLink="/home/post/{{item.maPhim}}">
                <div style="width: 255px;height: 95px;" class="card-body">
                  <b><h4 class="card-title truncate">{{item.tenPhim}}</h4></b>
                </div>
              </div>
            </div>
          </div>