<h2 mat-dialog-title>{{this.phong.maPhong ? 'Cập nhật' :'Tạo mới'}}</h2>
<head>
    <script src="https://cdn.tiny.cloud/1/dqwo69om78lgg65iip79iqjovj7vklmwua8boq08v557npwh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<mat-dialog-content class="mat-typogphonghy">
    <form style="width: 100%;">
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Tên phòng</mat-label>
            <input matInput name="tenPhong" [(ngModel)]="phong.tenPhong" >
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Ghi chú</mat-label>
            <input matInput name="ghiChu" [(ngModel)]="phong.ghiChu" >
        </mat-form-field>
        <mat-checkbox [(ngModel)]="phong.trangThai" name="trangThai" class="example-margin" (click)="checkTrangThai()">Active</mat-checkbox>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Huỷ</button>
    <button mat-button (click)="create()">{{this.phong.maPhong ? 'Cập nhật' :'Tạo mới'}}</button>
</mat-dialog-actions>