<h1>Bình luận</h1>
<section>
    <div class="example-button-row">
    </div>
  </section>
    <div class="body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="">Ảnh đại diện</th>
                    <th>Email</th>
                    <th>Nôi dung bình luận</th>
                    <th>Tên phim</th>
                    <th>Ngày bình luận</th>
                    <th>Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of comment">
                    <tr>
                      <td><img src="{{item.anhDaiDien}}" alt=""></td>
                      <td>{{item.email}}</td>
                      <td>{{item.noiDung}}</td>
                      <td>{{item.tenPhim}}</td>
                      <td>{{item.ngayBinhLuan | date : 'dd/MM/yyy'}}</td>
                      <td>
                        <button (click)="deleteComment(item.maBinhLuan ? item.maBinhLuan : 0)" mat-raised-button color="accent">Delete</button></td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
<div>
    
</div>