/* You can add global styles to this file, and also import other style files */
body {
    width: 100vw;
    height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.custom-font {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
