<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px;">
                <img src="https://localhost:5001/images/545x415-member-163558-210121-74.jpg" alt="">
            </div>
            <div class="text">Nhanh tay đặt vé cùng bạn bè đón những suất chiếu sớm giá rẻ nào các bạn !!!</div>
            <div class="text">Nội Dung Chương Trình: </div>
            <div class="text">💗 Vé vip chỉ hơn vé thường 25%.</div>
            <div class="text">Điều Kiện Áp Dụng: </div>
            <div class="text">Chỉ áp dụng cho khách hàng thành viên của Beta Cinemas.</div>
            <div class="text" style="margin-bottom: 125px;">Áp dụng cho cả mua vé tại quầy và mua Online.</div>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>