<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px;">
                <img src="https://localhost:5001/images/Screenshot%202024-01-18%20013114.png" alt="">
            </div>
                <div class="text" style="margin-bottom: 350px;">
                    *Giá vé có thể thay đổi tuỳ theo giá vé của từng rạp. 
                </div>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>