<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
                <img style="max-width: 48vw; margin-top: 20px;" src="https://localhost:5001/images/35359362-242694916502971-7052850785574453248-n-103924-040718-45.png" alt="">
                <div class="text">Beta Cinemas có rất nhiều cơ sở nằm ở các vị trí trung tâm. Rạp tự hào là rạp phim tư nhân duy 
                    nhất và đầu tiên sở hữu hệ thống phòng chiếu phim đạt chuẩn Hollywood.
                </div>
                <div class="text">
                    Rạp được trang bị hệ thống máy chiếu, phòng chiếu hiện đại với 100% nhập khẩu từ nước ngoài, 
                    với 4 phòng chiếu tương được 535 ghế ngồi. Hệ thống âm thanh Dolby 7.1 và hệ thống cách 
                    âm chuẩn quốc tế đảm bảo chất lượng âm thanh sống động nhất cho từng thước phim bom tấn.
                    Mức giá xem phim tại Beta Cinemas rất cạnh tranh: chỉ từ 40.000 VNĐ. Không chỉ có vậy, rạp còn có nhiều chương trình khuyến mại, ưu đãi hàng tuần như đồng giá vé 40.000 vào các ngày Thứ 3 vui vẻ, Thứ 4 Beta's Day, đồng giá vé cho Học sinh sinh viên, người cao tuổi, trẻ em.....
                </div>
                <div class="text">
                    Thông tin liên hệ:
                </div>
                <div class="text" style="font-weight: bold;">
                    Hotline: 0369 368 521
                </div>
                <div class="text" style="margin-bottom: 40px;">
                    Mua phiếu quà tặng, mua vé số lượng lớn, đặt phòng chiếu tổ chức hội nghị, trưng bày quảng cáo: 
                    Liên hệ với Hotline 0369 368 521  để được hưởng ưu đãi tốt nhất bạn nhé!
                </div>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>