<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-7">
            <div style="margin-top: 10px;">
                <span class="custom-font" style="font-size: 30px; margin-top: 10px;">Trang Chủ ></span>
                <span class="custom-font" style="font-size: 30px; margin-top: 10px; color: #337ab7;">
                    {{phim.tenPhim}}</span>
            </div>
            <div style="margin: 20px 20px; display: flex;">
                <img style="width: 257px; height: 457px; border-radius: 21px" [src]="phim.anhPhim" class="card-img-top"
                    alt="..." />
                <div style="margin-left: 15px;">
                    <span class="custom-font" style="font-size: 40px; font-weight: bold;">{{ phim.tenPhim }}</span>
                    <div class="custom-font" style="margin-bottom: 75px;">{{ phim.moTa }}</div>
                    <div>
                        <div>
                            <span class="bold-upper">Đạo Diễn:</span>
                            <span> {{phim.daodien}}</span>
                        </div>
                        <div>
                            <span class="bold-upper">Diễn Viên:</span>
                            <span> {{phim.dienVien}}</span>
                        </div>
                        <div>
                            <span class="bold-upper">Thể Loại:</span>
                            <span> {{phim.theLoai}}</span>
                        </div>
                        <div>
                            <span class="bold-upper">Thời lượng:</span>
                            <span> {{phim.thoiLuong}} phút</span>
                        </div>
                        <div>
                            <span class="bold-upper">Ngôn ngữ:</span>
                            <span> {{phim.quocGia}}</span>
                        </div>
                        <div>
                            <span class="bold-upper">Ngày Khỏi Chiếu:</span>
                            <span> {{phim.ngayBatDau | date : 'dd/MM/yyy' }}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div id="menu" class="lichChieu">
                <ul>
                    <li class="custom-font" *ngFor="let item of ngayTiepTheo" (click)="selectItem(item)"
                        [class.selected]="selectedItem === item">
                        <span class="custom-font">{{item | date : 'dd/MM'}}</span>
                    </li>
                </ul>
            </div>
            <div class="black-line"></div>
            <div class="gioChieu" *ngIf="selectedItem">
                <div *ngFor="let item of xuatChieus">
                    <span class="custom-font gioPhutChieu">{{item.gio}}:{{item.phut}}</span>
                </div>
            </div>

            <app-comment-of-post [id]="id" [comments]="comment"> </app-comment-of-post>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>