@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.custom-font {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}
.bold-upper{
    font-weight: bold;
    text-transform: uppercase;
}