<h1>Rạp</h1>
<section>
    <div class="example-button-row">
      <button (click)="create()" mat-raised-button color="primary">Tạo mới</button>
    </div>
  </section>
    <div class="body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Tên rạp</th>
                    <th>Địa chỉ</th>
                    <th>Hành Động</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of rap">
                    <tr>
                      <td>{{item.tenRap}}</td>
                      <td>{{item.diaChi}}</td>
                      <td>
                        <button (click)="edit(item)" mat-raised-button color="primary">Chỉnh sửa</button>
                        <button (click)="delete(item.maRap ? item.maRap : 0)"  mat-raised-button color="accent">Xoá</button></td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
<div>
    
</div>